*
  box-sizing: border-box
$lounge: #d3394c
.page-overview
  background: url(../img/bg-view.jpg)
    size: cover
    repeat: no-repeat
    position: center center
  background-attachment: fixed
  .loader-c
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: #000
    z-index: 11
    transition: all .5s ease-in-out
    .loader
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      z-index: 12
  article.container
    margin-top: 20px
    margin-bottom: 20px
    padding: 20px 5px
    background: rgba(0,0,0,.5)
    -webkit-backdrop-filter: blur(20px)
    .header-logo
      width: 100%
      min-height: 250px
      background: url(../img/logo/heavensbanner.png)
        size: cover
        repeat: no-repeat
        position: center center
    .publ
    .body
      .title
        color: $lounge
        font-family: sans-serif
        margin-top: 10px
        text-shadow: rgba(0,0,0,.3) 2px 3px 3px
      div.video-content
        background: #000
        width: 100%
        text-align: center
        align-content: center
        margin-bottom: 10px
        iframe
          margin: auto !important
          width: 100% !important
          margin-top: 10px
          margin-bottom: 10px
      .clear-a
        text-align: center
        background: #000
        border-radius: 15px
        color: #fff
        height: auto
        padding: 5px 0
        span
          font-weight: bold
          color: $lounge
      #sinopsis
        color: #fff
        text-align: left
        padding: 10px
        background: #000
        border-radius: 15px
        margin-bottom: 10px
      #interest
        width: 100%
        border-radius: 15px
        background: #000
        padding: 5px
        margin-bottom: 10px
        div
          p
            color: #fff
          .row
            figure
              display: inline-block
              margin: 0
