*
  box-sizing: border-box
.page-overview
  article.container
    .header-logo
      background: url(../img/banner/bann.png)
        size: contain
        repeat: no-repeat
        position: center center
    .publ
    .body
      div#video-content
        background: #000
        width: 100%
        text-align: center
        align-content: center
        margin-bottom: 10px
        iframe
          margin: auto !important
          width: 100% !important
      .clear-a
        text-align: center
        background: #000
        border-radius: 15px
        color: #fff
        height: auto
        padding: 5px 0
      #sinopsis
        color: #000
        text-align: left
        padding: 10px
        p>span
          font-weight: bold
